<!DOCTYPE html>
<html>
	
	<head th:replace="~{base::head}">
		<title>Formulario</title>
	</head>
	
	<body>
		<div th:replace = "~{base::logo}"></div>
		<div class="container">
			<div th:replace="~{base::titulo('Formulario')}"></div>
			<div class="card">
				<div class="card-body">
					<form th:object="${pedidoWebRequest}" action="/pedido/novo" method="POST">
						<div class="form-group">
							<label for="nomeProduto" class="form-label">Produto</label>
							<input th:field="*{nomeProduto}" type="text" th:erroClass="is-invalid" class="form-control" placeholder="nome do produto classe"/>
							<small>Informe aqui o nome do produto</small>
							<div class="invalid-feedback" th:errors="*{nomeProduto}">mensagem de erros</div>
						</div>
						<div class="form-group">
							<label for="urlProduto" class="form-label">Url</label>
							<input th:field="*{urlProduto}" type="text" class="form-control is-invalid" placeholder="url do produto classe"/>
							<small>Procure em um site uma boa imagem do produto e cole aqui para ajudar a conseguir compradores</small>
							<div class="invalid-feedback"  th:errors="*{urlProduto}"> mensagem de erros</div>
						</div>
						<div class="form-group">
							<label  for="urlImagem" class="form-label">Imagem</label>
							<input th:field="*{urlImagem}" type="text" class="form-control is-invalid" placeholder="url da imagem classe"/>
							<small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores</small>
							<div class="invalid-feedback" th:errors="*{urlImagem}"> mensagem de erros</div>
						</div>	
						<div class="form-group">
							<label for="descricaoProduto">Descrição</label>
							<textarea rows="" cols="" th:field="*{descricaoProduto}" class="form-control" placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
						</div>	
						<button class="btn btn-primary" type="submit">Cadastrar</button>	
					</form>
				</div>			
			</div>
		</div>
	</body>
</html>